# Compiled Java files
*.class

# Build folders
bin/
out/
build/
target/

# Eclipse
.project
.classpath
.settings/

# IntelliJ IDEA
.idea/
*.iml

# Visual Studio Code
.vscode/

# Operating-system files
.DS_Store
Thumbs.db
